:root {
    --text-color: #F3D3BD;
    --primary-color: #dc2f43;
    --background-color: #22436b;
    --accent-color: #b3cbfef9;
    --classic-link-color: white;
    --normal-color: black;
    --verification: rgb(82, 135, 82);
}