:root {
     --small-spacing: 12px;
    --medium-spacing: 24px;
    --large-spacing: 36px;
    --extra-large-spacing: 46px;
    --font-family: Helvetica, Apple, sans-serif;
    --border-radius: 10px;

    --font-size-small: 14px;
    --font-size-small_medium: 24px;
    --font-size-medium: 34px;
    --font-size-large: 46px;
}
