/* Color tokens: define all color values for the site.
   Name by purpose (--color-primary, --color-surface)
   not appearance (--blue, --light-gray). */
:root {
    /* TODO: Define color tokens here */
    --text-color: #F3D3BD;
    --primary-color: #dc2f43;
    --background-color: #22436b;
    --accent-color: #b3cbfef9;
    --classic-link-color: white;
    --normal-color: black;
    --verification: rgb(82, 135, 82);

    /* Font and Spacing */
   





}
