/* Color tokens: define all color values for the site.
   Name by purpose (--color-primary, --color-surface)
   not appearance (--blue, --light-gray). */
:root {
    /* TODO: Define color tokens here */
    --text-color: #F3D3BD;
    --primary-color: #dc2f43;
    --background-color: #22436b;
    --accent-color: #b3cbfef9;
    --classic-link-color: white;
    --normal-color: black;

    /* Font and Spacing */
    --small-spacing: 12px;
    --medium-spacing: 24px;
    --large-spacing: 36px;
    --extra-large-spacing: 46px;
    --font-family: Helvetica, Apple, sans-serif;
    --border-radius: 10px;

    --font-size-small: 14px;
    --font-size-small_medium: 24px;
    --font-size-medium: 34px;
    --font-size-large: 46px;





}
