/* Card components: .card-group, .cards grid, .card, .card-tag, .card-footer
   Use native nesting. Reference tokens with var(). */

/* TODO: Style the card components */
.card-group {
   padding-top: var(--small-spacing);
   padding-bottom: calc(2 * var(--large-spacing));

   h2 {
      text-align: center;
   }

   .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: clamp(var(--small-spacing), 2vw, var(--large-spacing));
      margin-top: var(--small-spacing);
   }

   .card {
      background-color: var(--primary-color);
      padding: var(--small-spacing);
      border-radius: var(--border-radius);
      
      .card-tag {
            font-size: var(--font-size-small);
            font-weight: 100;
            text-decoration: 2px underline;
            text-underline-offset: 2px;
         }

      h3 {
      font-weight: 800;
      font-size: var(--font-size-small_medium);
      margin-top: var(--medium-spacing);
      }

      .card-footer {
         margin-top: var(--medium-spacing);
         font-style: italic;
         font-weight: 800;
      }

   }

}

   

