/* Navigation component: .site-nav and its links
   Style the active link using aria-current. */

/* TODO: Style the navigation */
.site-nav {
   ul {
      display: flex;
      gap: var(--small-spacing);
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;

      
   }
   [aria-current="page"] {
      background-color: var(--text-color);
      padding: var(--small-spacing);
      color: var(--normal-color);
      
   }
}